/* Color Palette */
:root {

    /* Brand Colors */
    --primary-color: #3F3E37;
    --secondary-color: #7F7D6E;
    --tertiary-color: #bfbca5;
    --quaternary-color: #E4E1C5;
    --quinary-color: #FFFADD;

    --brand-color: #ad974f;

    /* Font colors */
    --light-color: #a7a7a7 !important;
    --dark-color: #323232 !important;

}

/* Global HTML Tags */
html{
    font-size: 15px;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
}

p{
    margin: 0 !important;
    padding: 0 !important;
}

/* CSS */

.logo{
    height: 100px;
    opacity: .3;
}

.text-white{
    color: white !important;
}

.text-light{
    color: var(--light-color) !important;
}

.text-dark{
    color: var(--dark-color) !important;
}

.text-primary{
    color: var(--primary-color) !important;
}

.text-secondary{
    color: var(--secondary-color) !important;
}

.text-tertiary{
    color: var(--tertiary-color) !important;
}

.text-quaternary{
    color: var(--quaternary-color) !important;
}

.text-quinary{
    color: var(--quinary-color) !important;
}

.text-decorate{
    color: #8e793e !important;   
}

.bg-primary{
    background: var(--primary-color) !important;
}

.bg-secondary{
    background: var(--secondary-color) !important;
}

.bg-tertiary{
    background: var(--tertiary-color) !important;
}

.bg-quaternary{
    background: var(--quaternary-color) !important;
}

.bg-quinary{
    background: var(--quinary-color) !important;
}

.bg-brand{
    background: #ad974f !important;
}

.btn-brand{
    background: #ad974f !important;
    color: white !important;
    text-shadow: 2px 2px 4px rgba(50,50,50,0.3)
}

.btn-brand:hover{
    background: #8e793e !important;
}

nav.navbar{
    background: transparent;
    transition: background-color .2s ease 0s;
}

nav.navbar.solid {
    background: var(--primary-color) !important;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.5);
    transition: background-color .2s ease 0s;
}

.header {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(to bottom,rgba(10, 10, 10, 0.6) 0,rgba(10, 10, 10, 0.8) 100%),url(../img/header/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.legal-header {
    height: 75vh;
    min-height: 500px;
    background: linear-gradient(to bottom,rgba(10, 10, 10, 0.6) 0,rgba(10, 10, 10, 0.8) 100%),url(../img/legal/legal-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.accounting-header {
    height: 75vh;
    min-height: 500px;
    background: linear-gradient(to bottom,rgba(10, 10, 10, 0.6) 0,rgba(10, 10, 10, 0.8) 100%),url(../img/accounting/accounting-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.architecture-header {
    height: 75vh;
    min-height: 500px;
    background: linear-gradient(to bottom,rgba(10, 10, 10, 0.6) 0,rgba(10, 10, 10, 0.8) 100%),url(../img/architecture/architecture-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.content-subtitle{
    font-size: 1.3rem;
    font-weight: lighter;
}

.list-group-items {
    position: relative;
    display: block;
    padding: .5rem 0.9rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
}

/* Bootstrap Media Queries -> lg */
@media (max-width: 991px) {

    .text-center-sm{
        text-align: center !important;
    }
    .margin-top-md{
        margin-top: 2rem;
    }
    .margin-top-social{
        margin-top: 1rem;
    }
    .logo-lg-centered{
        margin-top: 3rem;
        text-align: center !important;
    }
    .team-margin-md{
        margin-bottom: 6.8rem;
    }

    .carousel-container{
        background-color: #ad974f !important;
        padding: 1rem !important;
        margin-top: 1rem;
    }

}



/* Bootstrap Media Queries -> md */
@media (max-width: 767.98px) {

    .nav-flex-icons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .social-media-icon {
        margin-right: 1.5rem;
    }

    nav.navbar {
        background: var(--primary-color) !important;
        box-shadow: 0 2px 6px -2px rgba(0,0,0,.5);
        transition: background-color .2s ease 0s;
    }



}
/* Bootstrap Media Queries -> sm */
@media (max-width: 575.98px) {
    .padding-sm{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .margin-top-sm{
        margin-top: 2rem;
    }
}

.about {
    padding-top: 7rem;
}

.services {
    padding-top: 7rem;
}

.contact {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.service-list {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.team {
    border: 1px solid rgb(214, 214, 214);
    padding: 30px;
}

.team img {
    position: relative;
    margin-top: -100px;
}


iframe{
    border: 1px solid #ced4dA;
}

.footer {
    background: var(--primary-color) ;
    padding: 4rem 0;
    color: white;
}

.footer-text{
    color: rgb(230, 230, 230);
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
}

a:hover{
    color: var(--tertiary-color);
}

.logo{
    height: 150px;
}

.section-padding-lg{
    padding: 10rem 0;
}

.form-control:focus {
    border-color: var(--tertiary-color) !important;
    box-shadow: 0 0 10px rgba(191, 188, 165, 1) !important;
  }

/* CAROUSELS */

/* Legal Carousel */
.legal-carousel {
    height: 466px;
}

.legal-carousel img {
    min-height: 466px;
}

/* Architecture Carousel */
.architecture-carousel {
    height: 411px;
}

.architecture-carousel img {
    min-height: 411px;
}

/* Accounting Carousel */
.accounting-carousel {
    height: 411px;
}

.accounting-carousel img {
    min-height: 411px;
}
.border-brand {
    border: 1px solid var(--brand-color);
}

/* Carousel Media Queries */
@media (max-width: 575.98px) {
    .carousel-item{
        width: 100% !important;
        height: 260px !important;
    }
    .carousel-item img{
        min-height: 100px !important;
    }
}

@media (max-width: 360px) {
    .carousel-item{
        width: 100% !important;
        height: 220px !important;
    }
    .carousel-item img{
        min-height: 100px !important;
    }
}

@media (max-width: 320px) {
    .carousel-item{
        width: 100% !important;
        height: 200px !important;
    }
    .carousel-item img{
        min-height: 100px !important;
    }
}
